<html>
    <head>
        <title>绑定店铺</title>
    </head>
    <body>
        <div>
            <h1><a href="">绑定店铺</a></h1>
        </div>

        <div>
            <p>请输入店铺名</p>
			<input type="text" id="inputdianpuming" class="form-control" placeholder="店铺名" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" type="submit">绑定</button>
        </div>

<!--        <div>-->
<!--            <p>published: 14.06.2014, 12:14</p>-->
<!--            <h2><a href="">My second post</a></h2>-->
<!--            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>-->
<!--        </div>-->
    </body>
</html>