<html>
    <head>
        <title>绑定店铺</title>
    </head>
    <body>
        <div>
            <h1>绑定店铺</h1>
        </div>

        <div>
            <p>请输入店铺名</p>
                <div class="card card-signin0">

                    <form class="form-signin0" action="/adddianpudatebase/" method="post">
                        {% csrf_token %}
                        <input type="text" name="dianpuid" style="width: 150px">


                        <button class="btn btn-lg btn-primary btn-block0" type="submit">绑定</button>

                    </form>
                </div>

        </div>

    </body>
</html>