<html>
    <head>
        <title>绑定店铺</title>
    </head>
    <body>
        <div>
            <h1>绑定店铺</h1>
        </div>

        <div>
            <p>请输入店铺名</p>
                <div class="card card-signin">

                    <form class="form-signin" action="{% url 'dianptg:bangding' %}" method="post">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {% for field in form %}
                            {{ field }}
                            {{ field.errors }}
                        {% endfor %}


                        <button class="btn btn-lg btn-primary btn-block" type="submit">绑定</button>

                    </form>
                </div>

        </div>

<!--        <div>-->
<!--            <p>published: 14.06.2014, 12:14</p>-->
<!--            <h2><a href="">My second post</a></h2>-->
<!--            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>-->
<!--        </div>-->
    </body>
</html>